demos/modules/.evil.ko.cmd
demos/modules/.evil.mod.cmd
demos/modules/.evil.mod.o.cmd
demos/modules/.evil.o.cmd
demos/modules/.Module.symvers.cmd
demos/modules/.modules.order.cmd
demos/modules/evil.ko
demos/modules/evil.mod
demos/modules/evil.mod.o
demos/modules/evil.o
demos/modules/Module.symvers
demos/modules/modules.order
scripts/.gdb_history
